
/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */
@font-face {
  font-family: "et-book";
  src: url("/assets/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("/assets/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("/assets/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("/assets/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("/assets/et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "et-book";
  src: url("/assets/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src: url("/assets/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("/assets/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("/assets/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("/assets/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "et-book";
  src: url("/assets/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("/assets/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("/assets/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("/assets/et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("/assets/et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "et-book-roman-old-style";
  src: url("/assets/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
  src: url("/assets/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("/assets/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("/assets/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("/assets/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4 {
  font-weight: 600;
  line-height: 1; }

h2, h3, h4 {
  margin-bottom: 0; }

h1 {
  font-size: 48px;
  margin: 20px 0; }

h2 {
  font-size: 34px;
  margin-top: 32px;
  line-height: 1.1; }

h3 {
  font-size: 26px;
  margin-top: 30px; }

h4 {
  font-size: 24px;
  margin-top: 28px; }

p {
  font-size: 20px;
  line-height: 26px;
  margin: 18px 0;
  padding-right: 0;
  vertical-align: baseline; }

.numeral {
  font-family: et-book-roman-old-style; }

ol, ul, .pagination a, .pagination em, table {
  font-size: 21px; }

blockquote {
  font-size: 21px; }

blockquote .footer {
  width: 50%;
  font-size: 1.1rem;
  text-align: right; }

li {
  padding: 0.5rem 0; }

.sans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  letter-spacing: .03em; }

.code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.125rem;
  line-height: 1.6; }

pre, pre.code {
  padding-left: 2.5%;
  overflow-x: auto; }

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.125rem;
  line-height: 1.6; }

/* Links: replicate underline that clears descenders */
a:link, a:visited {
  color: inherit; }

a:link {
  text-decoration: none;
  background: -webkit-linear-gradient(#ffffff, #ffffff), -webkit-linear-gradient(#ffffff, #ffffff), -webkit-linear-gradient(#333, #333);
  background: linear-gradient(#ffffff, #ffffff), linear-gradient(#ffffff, #ffffff), linear-gradient(#333, #333);
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 #ffffff, -0.03em 0 #ffffff, 0 0.03em #ffffff, 0 -0.03em #ffffff, 0.06em 0 #ffffff, -0.06em 0 #ffffff, 0.09em 0 #ffffff, -0.09em 0 #ffffff, 0.12em 0 #ffffff, -0.12em 0 #ffffff, 0.15em 0 #ffffff, -0.15em 0 #ffffff;
  background-position: 0% 93%, 100% 93%, 0% 93%; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  a:link {
    background-position-y: 87%, 87%, 87%; } }
a:link::selection {
  background: #b4d5fe; }

a:link::-moz-selection {
  background: #b4d5fe; }

#sumome-modal-mask a, .sumome-control a {
  text-shadow: none !important; }

article h2 a {
  background: none !important; }

a.simple-goods-btn {
  text-shadow: none !important;
  background: none; }

/* Tufte CSS styles */
html {
  font-size: 15px; }

body {
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  /*font-family: "Gill Sans";*/
  background-color: #ffffff;
  color: #111;
  max-width: 1400px; }

.container {
  max-width: 1000px;
  margin: 0 auto; }

.full-col {
  width: 100%;
  clear: both; }

.left-col {
  width: 75%;
  float: left; }

.right-col {
  width: 25%;
  float: left; }

.read-more {
  height: 20px;
  font-size: 18px;
  margin-bottom: 30px; }

article {
  width: 700px; }

img {
  max-width: 100%; }

.aligncenter {
  display: block;
  margin: 0 auto; }

.alignright {
  float: right;
  padding: 5px; }

.alignleft {
  float: left;
  padding: 5px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.post-callout {
  float: left;
  background-color: #FFF8DC;
  border: 2px solid #FFD700;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 40px; }
  .post-callout p {
    margin: 10px 0; }
  .post-callout h3 {
    margin-top: 10px; }
  .post-callout a {
    text-shadow: 0.03em 0 #FFF8DC, -0.03em 0 #FFF8DC, 0 0.03em #FFF8DC, 0 -0.03em #FFF8DC, 0.06em 0 #FFF8DC, -0.06em 0 #FFF8DC, 0.09em 0 #FFF8DC, -0.09em 0 #FFF8DC, 0.12em 0 #FFF8DC, -0.12em 0 #FFF8DC, 0.15em 0 #FFF8DC, -0.15em 0 #FFF8DC; }

.site-footer {
  padding: 40px;
  text-align: center; }

.buy-now a.gumroad-button {
  font-size: 1.1em !important;
  padding: 5px 50px !important;
  color: white !important;
  background-image: none !important;
  background: #3498db !important;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9) !important;
  background-image: -moz-linear-gradient(top, #3498db, #2980b9) !important;
  background-image: -ms-linear-gradient(top, #3498db, #2980b9) !important;
  background-image: -o-linear-gradient(top, #3498db, #2980b9) !important;
  background-image: linear-gradient(to bottom, #3498db, #2980b9) !important; }

.buy-now .gumroad-button-logo {
  display: none !important; }

.buy-now .cta-subtext {
  font-size: 0.75em;
  color: #666; }

@media screen and (max-width: 1100px) and (min-width: 900px) {
  .container {
    max-width: 800px;
    margin: 0 auto; }

  article {
    width: 550px; } }
@media screen and (max-width: 900px) {
  .container, .full-col, .left-col {
    float: none;
    width: 100%; }

  .right-col, #sidebar {
    display: none; }

  .full-col {
    text-align: center; }

  article {
    margin: 0 auto;
    width: 85%; }

  p, ol, ul, .pagination a, .pagination em, table {
    font-size: 18px;
    line-height: 26px; } }
#sidebar {
  margin-top: 40px; }
  #sidebar p, #sidebar li {
    font-size: 14px;
    line-height: 18px; }
  #sidebar li {
    padding: 5px 0; }
  #sidebar ul, #sidebar ol {
    margin-left: -20px; }
  #sidebar #bio a {
    background: none; }
  #sidebar #bio img {
    display: block;
    margin: 5px auto 15px;
    padding: 0px;
    border: 2px solid white;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); }
  #sidebar #bio p a {
    color: #069; }
  #sidebar #subscribe #subscribe-email {
    width: 180px;
    padding: 5px;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; }
  #sidebar #subscribe #subscribe-button {
    width: 54px;
    padding: 7px;
    float: right;
    background-color: #06C;
    border: 0 none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; }
  #sidebar #scraping-book {
    margin: 30px 0; }
    #sidebar #scraping-book a {
      background: none; }

@media screen and (max-width: 1100px) {
  #sidebar #subscribe #subscribe-email {
    width: 120px; } }
amp-img {
  background-color: grey; }
